name: Build and Deploy to CH2.0

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up JDK 1.8
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 8
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Stamp artifact file name with commit hash
        run: |
          artifactName1=$(ls target/*.jar | head -1)
          commitHash=$(git rev-parse --short "$GITHUB_SHA")
          artifactName2=$(ls target/*.jar | head -1 | sed "s/.jar/-$commitHash.jar/g")
          mv $artifactName1 $artifactName2
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: target/*.jar

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - uses: actions/download-artifact@v3
        with:
          name: artifacts
      - name: Publish to Exchange
        env:
          CLIENT_ID: ${{ secrets.CONNECTED_APP_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CONNECTED_APP_CLIENT_SECRET }}
          KEY: ${{ secrets.encryption_key }}
        run: |
          mvn deploy --settings .maven/settings.xml -DskipMunitTests \
          -Dclient.id="$CLIENT_ID" \
          -Dclient.secret="$CLIENT_SECRET"
          -Dencryption.key="$KEY"

      - name: Deploy to CloudHub 2.0
        env:
          CLIENT_ID: ${{ secrets.CONNECTED_APP_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CONNECTED_APP_CLIENT_SECRET }}
          KEY: ${{ secrets.encryption_key }}
        run: |
          mvn deploy --settings .maven/settings.xml -DskipMunitTests -DmuleDeploy \
          -Dclient.id="$CLIENT_ID" \
          -Dclient.secret="$CLIENT_SECRET"
          -Dencryption.key="$KEY"
